<div class="reset-form">
  <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="reset()">
    <mat-form-field>
      <input type="password" matInput [formControlName]="'new_password'" placeholder="password"/>
    </mat-form-field>
    <mat-form-field>
    <input type="password" matInput [formControlName]="'repeat-password'" placeholder="repeat password"/>
    </mat-form-field>
    <button type="submit" class="md-raised login-btn" mat-button [disabled]="resetForm.invalid">Set password</button>
  </form>
  <div class="forgot-link-wrapper">
    <a class="forgot-link" routerLink="/login">Login</a>
  </div>
  <mat-error *ngIf="apiError">{{apiError}}</mat-error>
</div>

