<div class="forgot-form">
  <form class="forgot-form" [formGroup]="forgotForm" (ngSubmit)="forgot()">
    <mat-form-field>
      <input type="email" matInput [formControlName]="'username'" placeholder="username"/>
    </mat-form-field>
    <button type="submit" class="md-raised login-btn" mat-button [disabled]="forgotForm.invalid">Request reset</button>
  </form>
  <div class="forgot-link-wrapper">
    <a class="forgot-link" routerLink="/login">Login</a>
  </div>
  <mat-error *ngIf="apiError">{{apiError}}</mat-error>
</div>
